@page
@using MVCWebAppTest.Models
@model TestPageModel

@{
    Layout = "_Layout";
    Student student = new();

    student.Id = Model.StudentID;
    student.Name = Model.Name;
    student.active = Model.Active;

}

<h1>This is the TestPage</h1>

@{
    await Html.RenderPartialAsync("_testpartial", student);
}